{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}

<h1>Detail {{ imagequatro.description}}</h1>


<a href="{{ imagequatro.id }}">Processing</a>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

</div>
<ul>
    {# {% for cellimage in imagequatro.cellimage_set.all %} #}
    {# <li>{{ cellimage.image }}</li> #}
    {# <img src="{{ cellimage.image.url }}"> #}
    {# {{ forloop.counter0 }} #}
    {# {% endfor %} #}
</ul>

<div class="container">
    <img id="multicellimg" class="multicella" src="{{imagequatro.multicell_overview.url}}">
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="cellzoom" src="{{imagequatro.singlecell_overview.url}}">
        </div>
        <div class="col-sm-6">
            <div class="carousel slide" id="mmyCarousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for cellimage in imagequatro.cellimage_set.all %}
                    {# <li data-target="#mmyCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li> #}
                    <li data-target="#mmyCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for cellimage in imagequatro.cellimage_set.all %}
                    <div
                            {% if forloop.first %}
                            class="active item"
                            {% else %}
                            class="item"
                            {% endif %}
                            data-slide-number="{{ forloop.counter0 }}">
                        <img class="cellzoom" src="{{cellimage.image.url}}" alt="{{cellimage.multicelloverview_id}}">
                        <div class="carousel-caption">
                            <h3>{{cellimage.multicelloverview_id}}</h3>
                        </div>`
                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#mmyCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mmyCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>

</div>

{% endblock %}